.product-form {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 20px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px var(--main-color);
}
.product-form__title {
  text-align: center;
  font-family: var(--title-font);
  color: var(--main-color);
}
.product-form__fields-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}
.product-form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-form__field-input {
  border: none;
  padding: 5px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.563);
}
.product-form__field-input:focus {
  outline: solid var(--main-color);
}
.product-form__button {
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.441);
}
.product-form__button:hover {
  transform: translate(-1px, 1px);
  box-shadow: none;
}
